body {
    background-color: #282c34;
}


.header-nav {
    width: 95%;
    height: 60px;
    background-color: #282c34;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 0 -1px 10px -4px rgba(0, 0, 0, 0.75);
}

.header-nav > img {
    height: 60px;
    width: auto;
    margin-left: 10px;
    box-shadow: 0 -1px 10px -4px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
}

.header-nav > ul {
    float: right;
    margin: 0px;
    padding: 0px;
    height: 60px;
}

.header-nav > ul > li {
    display: inline-block;
    background-color: #11a5c0;
    color: #fff;
    margin: 0px 25px 0 0;
    font-size: 18px;
    box-shadow: 0 -1px 10px -4px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    font-weight: bold;
    height: 60px;
    padding: 0 7px 0 7px;
}

.header-nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    margin-top: 17px;
    display: inline-block;
}

.header-nav > ul > li > a:link {
    color: #fff;
    text-decoration: none;
    margin-top: 17px;
    display: inline-block;
}

.header-nav > ul > li > a:hover {
    color: #fff;
    text-decoration: none;
    margin-top: 17px;
    display: inline-block;
}

.header-nav > ul > li > a:active {
    color: #fff;
    text-decoration: none;
    margin-top: 17px;
    display: inline-block;
}

.header-nav > ul > li > a:visited {
    color: #fff;
    text-decoration: none;
    margin-top: 17px;
    display: inline-block;
}


.center-column {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #282c34;
    border-radius: 3px;

}

.header-row {
    background-color: #11a5c0;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 -1px 10px -4px rgba(0, 0, 0, 0.75);
    text-align: center;
}

div.header-row > span {
    font-size: 24px;
    font-weight: bold;
}

/* === GRID-SYSTEM === */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.row {
    border: 5px solid #11a5c0;
    border-radius: 5px;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: 1.2rem;
}

.col-1 {
    width: 15.1%;
}

.col-2 {
    width: 31.8%;
}

.col-3 {
    width: 48%;
}


.col-6 {
    width: 100%;
}

@media (max-width: 1024px) {

    .col-1 {
        width: 31.8%;
    }

}

@media (max-width: 768px) {
    .col-1 {
        width: 48.5%;
    }

    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .header-nav > ul > li {
        font-size: 14px;
        padding: 0 4px 0 4px;
        margin: 0 15px 0 0;
    }
}

@media (max-width: 580px) {
    .header-nav > ul > li {
        font-size: 10px;
        padding: 0 2px 0 2px;
        margin: 0 10px 0 0;
    }
}

@media (max-width: 480px) {
    .col-1 {
        width: 100%;
    }

    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .header-nav > ul > li {
        font-size: 10px;
        padding: 0 0 0 0;
        margin: 0 2px 0 0;
    }

}

@media (max-width: 400px) {
    .header-nav > ul > li {
        font-size: 7px;
        padding: 0 0 0 0;
        margin: 0 2px 0 0;
    }
}

.Ueberschrift {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

projektspezifischeMetivationText {
    border: 2px solid #11a5c0;
    border-radius: 3px;

}

.normalText {
    color: #fff;
    font-size: 18px;
    text-align: justify;
}

.col-3 > img {
    height: 284px;
    width: 284px;
    margin-left: 15%;
    margin-top: 15px;
    border: 5px solid #11a5c0;
}

@media (max-width: 1834px) {
    .col-3 > img {
        height: 260px;
        width: 260px;
        margin-left: 10%;
        margin-top: 15px;
        border: 5px solid #11a5c0;
    }
}

@media (max-width: 1805px) {
    .col-3 > img {
        height: 200px;
        width: 200px;
        margin-left: 2%;
        margin-top: 15px;
        border: 5px solid #11a5c0;
    }
}

.col-3 > img.biggerPicture {
    width: 284px;
    height: auto;
    margin-left: 15%;
    margin-top: 15px;
    border: 5px solid #11a5c0;
}