* {
    margin: 0;
    padding: 0;
}
.job__flex__container {
    display: flex;
    padding: auto;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px 20px;
    padding: 20px 50px 0 50px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #d1d9d9;
}
.job__status__flex__item {
   
}
.job__name__flex__item{
    
}

